<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>0x1303</key>
	<dict>
		<key>InitialAttempted</key>
		<true/>
		<key>InitialFailureNumber</key>
		<integer>2</integer>
		<key>InitialResult</key>
		<integer>0</integer>
		<key>InitialSkipped</key>
		<false/>
		<key>StepName</key>
		<string>update_baseband</string>
	</dict>
	<key>0x1304</key>
	<dict>
		<key>InitialAttempted</key>
		<true/>
		<key>InitialFailureNumber</key>
		<integer>1</integer>
		<key>InitialResult</key>
		<integer>0</integer>
		<key>InitialSkipped</key>
		<false/>
		<key>StepName</key>
		<string>update_stockholm</string>
	</dict>
	<key>0x1309</key>
	<dict>
		<key>InitialAttempted</key>
		<true/>
		<key>InitialFailureNumber</key>
		<integer>4</integer>
		<key>InitialResult</key>
		<integer>0</integer>
		<key>InitialSkipped</key>
		<false/>
		<key>StepName</key>
		<string>update_se</string>
	</dict>
	<key>0x1310</key>
	<dict>
		<key>InitialAttempted</key>
		<true/>
		<key>InitialFailureNumber</key>
		<integer>3</integer>
		<key>InitialResult</key>
		<integer>0</integer>
		<key>InitialSkipped</key>
		<false/>
		<key>StepName</key>
		<string>update_rose</string>
	</dict>
	<key>0x1311</key>
	<dict>
		<key>InitialAttempted</key>
		<true/>
		<key>InitialFailureNumber</key>
		<integer>5</integer>
		<key>InitialResult</key>
		<integer>0</integer>
		<key>InitialSkipped</key>
		<false/>
		<key>StepName</key>
		<string>update_veridian</string>
	</dict>
	<key>0x1316</key>
	<dict>
		<key>InitialAttempted</key>
		<true/>
		<key>InitialFailureNumber</key>
		<integer>6</integer>
		<key>InitialResult</key>
		<integer>0</integer>
		<key>InitialSkipped</key>
		<false/>
		<key>StepName</key>
		<string>update_appletcon</string>
	</dict>
	<key>0x63d</key>
	<dict>
		<key>InitialAttempted</key>
		<true/>
		<key>InitialFailureNumber</key>
		<integer>7</integer>
		<key>InitialResult</key>
		<integer>0</integer>
		<key>InitialSkipped</key>
		<false/>
		<key>StepName</key>
		<string>fdr_verify_sealed_manifest</string>
	</dict>
</dict>
</plist>
